.Goals  {
    background-color: white;
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 0 10px 16px -6px rgba(60, 58, 58, 0.31);

}

.allgoalsdiv    {
    padding: 20px;
    width: 32%;
}

.goalanimate img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.goalp  {
    font-size: 14px;
    text-align: left;
    line-height: 35px;
    color: #0b2545;
    font-family: 'dm-sans', sans-serif;
    margin-bottom: 25px;
}

.goaltitlep  {
    font-size: 24px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    margin: 15px 0px;
}


.Goalstexts  {
    padding: 1rem 2rem;
}

.Goalheader   {
    font-size: 50px;
    color: #134074;;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 40px;
}

@media (max-width:1000px) {
    .allgoalsdiv {
        padding: 20px;
        width: 50%;
    }
    /* .Goals {
       display: flex;
        background-color: white;
        border-radius: 10px;
        margin: 40px 0px;
        box-shadow: 0 10px 16px -6px rgba(60, 58, 58, 0.31);
    align-items: center;
    } */
/* 
    .allgoalsdiv    {
        padding: 20px;
        width: 100%;
    }

    .goalanimate img {
        object-fit: cover;
        width: 100%;
        border-radius: 10px 0px 10px 0px;
    } */
    .goalsdiv {
        margin-top: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width:600px) {
    .allgoalsdiv {
        padding: 20px;
        width: 100%;
    }

    .Goals {
        margin: 10px 0px 10px 0px;
        box-shadow: 0 10px 16px -6px rgba(60, 58, 58, 0.31);
    }
}

@media (max-width:500px) {
    .Goalheader {
        font-size: 35px;
    }
}


@media (max-width: 430px) {
 .Goalheader {
    font-size: 28px;
}

.goaltitlep {
    font-size: 20px;
}
}