.herodiv  {
    height: calc(100vh - 7rem);
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herop  {
    font-family: 'DM-SANS', sans-serif;
    font-weight: 800;
    font-size: 70px;
}

.heropone  {
    color: #0b2545;
    letter-spacing: 1px;
}

.heroptwo  {
    color: #8da9c4;
}

.herobtn  {
    display: flex;
    flex-direction: row;
    width:50%;
    margin: 30px auto;
    
}

.herobtntrans   {
    padding: 18px 50px;
    border: 1px solid #0b2545;
    border-radius: 10px 0 10px 0px;
    color: #0b2545;
    font-size: 20px;
    font-family: 'DM-SANS', sans-serif;
    width: 45%;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.01s ease;
}

.herobtntrans:hover  {
    background-color: #0b2545;
    color: #eef4ed;
    box-shadow: 0 10px 16px -6px rgba(60, 58, 58, 0.31);
}

.herobtnsolid   {
    padding: 18px 50px;
    border: 1px solid #0b2545;
    background-color: #0b2545;
    border-radius: 0px 10px 0px 10px;
    color: #eef4ed;
    font-size: 20px;
    font-family: 'DM-SANS', sans-serif;
    width: 45%;
    cursor: pointer;
    text-align: center;
    transition: 0.01s ease;
}

.herobtnsolid:hover  {
    background-color: transparent;
    color: #0b2545;
    box-shadow: 0 10px 16px -6px rgba(60, 58, 58, 0.31);
}