* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eef4ed;
}

.goalsdiv {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: -40px;
  flex-wrap: wrap;
}

.whyjoindiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.divider {
  /* width: 100vw; */
  margin-top: -30px;
}

.divider img {
  width: 100%;
  position: absolute;
}


